# -------------Experiment - 02-----------

# 1) Using Numpy module , Perform the follwing operations .

## a) Demonstarte array aggregations functions.
## b) Demonstarte the vectorized operations.
## c) Demonstarte the map , filter , reduce ,lambda functions with data frame.

# 2) Using Pandas module , Perform the follwing operations.

## a) Demonstarte Array aggregations functions.
## b) Demonstarte the vectorized operations.
## c) Demonstarte the map , filter , reduce , lambda functions with data frame.

## 1. a) Demonstarte array aggregations functions.

### Sum() :- Use to find the sum of the givenarray.
### max() :- It returns the maximum values amongthe elements of given array.
### min() :- It returns the minimum values amongthe elements of given array.
### mean() :- It returns the Mean(Averge) of theinput array.
### std () :- It shows the standard deviation ofarray.
### median () :- It returns the median value ofarray.

In [3]:
# Import the library

In [4]:
# Creating an 2 array

a=np.array([20,26,73,84,34,97,45,72])
b=np.array([45,23,66,63,44,85,23,41])
print("set of a array is :",a)
print("set of b array is :",b)

set of a array is : [20 26 73 84 34 97 45 72]
set of b array is : [45 23 66 63 44 85 23 41]

### Sum () :-

In [6]:
s=(a.sum())
print("Sum of a array is :",s)
     # OR
#print("sum of a array is :",np.sum(a))

Sum of a array is : 451

### Max () :-

In [7]:
# mi=(a.min())
# print("Minimum value of array is :-",mi)
           # OR
print("Minimum value of array is :",np.min(a))

Minimum value of array is : 20

### Mean () :-

In [8]:
# me=(a.mean())
# print("Averge value of array is :",me)
          # OR
print("Averge value of array is :",np.mean(a))

Averge value of array is : 56.375

### std () :-

In [9]:
# st=(b.std())
# print("Standerd diviation of array is :",st)
               # OR
print("Standerd diviation of array is :",np.std(b))

Standerd diviation of array is : 20.116846174288852

### median () :-

In [10]:
# md=(a.std())
# print("Median of a array is :",md)
            # OR
print("Median of a array is :",np.median(a))

Median of a array is : 58.5

## 1. b) Demonstarte the vectorized operations.

In [11]:
import numpy as np

# creating arrays

a1= np.array([10, 20, 30])
b1= np.array([1, 2, 3])

In [12]:
print("set of a1 array is :",a1)
print("set of b1 array is :",b1)

set of a1 array is : [10 20 30]
set of b1 array is : [1 2 3]

In [13]:
# Arithmetic Operations
 # Addition
 # Subtraction
 # Multiplication
 # Division

print("Addition:",a1 + b1)        
print("Subtraction:", a1 - b1)      
print("Multiplication:", a1 * b1)   
print("Division:", a1 / b1)

Addition: [11 22 33]
Subtraction: [ 9 18 27]
Multiplication: [10 40 90]
Division: [10. 10. 10.]

In [14]:
#  Mathematical Functions

print("Square root of a:", np.sqrt(a1))

Square root of a: [3.16227766 4.47213595 5.47722558]

In [15]:
print("Sum of a:", np.sum(a))             
print("Max of b:", np.max(b))            
print("Mean of a:", np.mean(a))

Sum of a: 451
Max of b: 85
Mean of a: 56.375

## 1. c) Demonstarte the map , filter , reduce , lambda functions with data frame.

In [16]:
import pandas as pd
from functools import reduce

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}

df = pd.DataFrame(data)
df

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

## map () :-

In [17]:
def add(x):
    return x + 2000

Salary_List = df['Salary'].map(add)
print("Added Salaries:\n", Salary_List)

Added Salaries:
 0    52000
1    62000
2    72000
3    82000
Name: Salary, dtype: int64

In [18]:
def add(x):
    return x + 2500

sl=df['Salary']
res=print("Add Sal \n",list(map(add,sl)))
res

Add Sal
 [52500, 62500, 72500, 82500]

## filter () :-

In [19]:
def get(age):
    if age > 30:
        return True
l1=(df['Age'])    
res=list(filter(get,l1))
print("Grater then 30 years Age :",res)

Grater then 30 years Age : [35, 40]

## reduce () :-

In [20]:
def add(x, y):
    return x + y

total_salary = reduce(add, df['Salary'])
print("Total Salary:", total_salary)

Total Salary: 260000

In [21]:
def max_value(x, y):
    return x if x > y else y

max_age = reduce(max_value, df['Age'])
print("Maximum Age:", max_age)

Maximum Age: 40

## lambda () :-

In [22]:
# Age grater then 30 years using lambda

old= df[df['Age'].apply(lambda x: x > 30)]
print(old)

      Name  Age  Salary
2  Charlie   35   70000
3    David   40   80000

In [23]:
# Sum of salary using Lambda

total= reduce(lambda x, y: x + y, df['Salary'])
print("Total Salary:", total)

Total Salary: 260000

# 2) Using Pandas module , Perform the follwing operations.

## a) Demonstarte Array aggregations functions.
## b) Demonstarte the vectorized operations.
## c) Demonstarte the map , filter , reduce , lambda functions with data frame.

## 2. a) Demonstarte Array aggregations functions.

### Sum() :- Use to find the sum of the given colomns.
### max() :- It returns the maximum values among the elements of given colomns.
### min() :- It returns the minimum values among the elements of given colomns.
### mean() :- It returns the Mean(Averge) of the input colomns.
### std () :- It shows the standard deviation of colomn.
### median () :- It returns the median value of colomns.

In [25]:
# Import the library

import pandas as pd

# Creating the DataFrame
data = {
    "Department": ["HR", "HR", "IT", "IT", "Finance", "Finance"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [40000, 42000, 50000, 52000, 60000, 58000],
    "Bonus": [2000, 2500, 3000, 2800, 4000, 3900]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Bonus
0         HR        A   40000   2000
1         HR        B   42000   2500
2         IT        C   50000   3000
3         IT        D   52000   2800
4    Finance        E   60000   4000
5    Finance        F   58000   3900

In [30]:
print("Total salary is :",df["Salary"].sum())      # Total salary
print("Average salary is :",df["Salary"].mean())     # Average salary
print("Maximum salary is :",df["Salary"].max())      # Maximum salary
print("Minimum salary is :",df["Salary"].min())      # Minimum salary
print("Count of salaries is :",df["Salary"].count())    # Count of salaries
print("Standard deviation is :",df["Salary"].std())      # Standard deviation

Total salary is : 302000
Average salary is : 50333.333333333336
Maximum salary is : 60000
Minimum salary is : 40000
Count of salaries is : 6
Standard deviation is : 8140.434058861153

In [32]:
# calculate the salary column using agreegation functions.

df["Salary"].agg(['sum', 'mean', 'max', 'min'])

sum     302000.000000
mean     50333.333333
max      60000.000000
min      40000.000000
Name: Salary, dtype: float64

### Multiple Columns Aggregation

In [33]:
df.groupby("Department").agg({
    "Salary": ["mean", "max"],
    "Bonus": ["sum", "mean"]
})

             Salary        Bonus
               mean    max   sum    mean
Department
Finance     59000.0  60000  7900  3950.0
HR          41000.0  42000  4500  2250.0
IT          51000.0  52000  5800  2900.0

## 2. b) Demonstarte the vectorized operations.

In [34]:
import pandas as pd

data = {
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
print(df)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

### Arithmetic Vectorized Operations

In [35]:
df["A"] + 10        # Add scalar
df["A"] * 2         # Multiply by scalar
df["A"] + df["B"]   # Add two columns
df["B"] - df["A"]   # Subtract columns
df["B"] / df["A"]   # Divide column B by A

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

### Universal Functions (ufuncs)

In [36]:
import numpy as np

np.sqrt(df["B"])    # Square root
np.log(df["A"])     # Logarithm
np.exp(df["A"])     # Exponential

0      2.718282
1      7.389056
2     20.085537
3     54.598150
4    148.413159
Name: A, dtype: float64

### Boolean / Comparison Operations

In [37]:
df["A"] > 3
df["B"] % 20 == 0

0    False
1     True
2    False
3     True
4    False
Name: B, dtype: bool

### Vectorized Assignment

In [38]:
df["C"] = df["A"] * df["B"]   # New column = product of A and B
df["D"] = np.where(df["A"] % 2 == 0, "Even", "Odd")

In [39]:
df["C"]

0     10
1     40
2     90
3    160
4    250
Name: C, dtype: int64

## 2. c) Demonstarte the map , filter , reduce , lambda functions with data frame.

In [40]:
import pandas as pd
import numpy as np
from functools import reduce  # for reduce()

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [25, 30, 35, 40, 28],
    "Salary": [50000, 60000, 70000, 80000, 65000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eva   28   65000

### map() with DataFrame

In [41]:
# Add 5 years to everyone's age using lambda
df["Age_plus5"] = df["Age"].map(lambda x: x + 5)

# Convert names to uppercase
df["Name_upper"] = df["Name"].map(str.upper)
print(df)

      Name  Age  Salary  Age_plus5 Name_upper
0    Alice   25   50000         30      ALICE
1      Bob   30   60000         35        BOB
2  Charlie   35   70000         40    CHARLIE
3    David   40   80000         45      DAVID
4      Eva   28   65000         33        EVA

### filter() with DataFrame

In [42]:
# Filter employees with salary > 60,000
filtered_df = df[df["Salary"] > 60000]
print(filtered_df)

# Using Python filter + lambda (less common with Pandas)
high_salary = list(filter(lambda x: x > 60000, df["Salary"]))
print("Salaries > 60000:", high_salary)

      Name  Age  Salary  Age_plus5 Name_upper
2  Charlie   35   70000         40    CHARLIE
3    David   40   80000         45      DAVID
4      Eva   28   65000         33        EVA
Salaries > 60000: [70000, 80000, 65000]

### reduce() with DataFrame

In [43]:
# Find total salary using reduce
total_salary = reduce(lambda x, y: x + y, df["Salary"])
print("Total Salary:", total_salary)

# Find the maximum age using reduce
max_age = reduce(lambda x, y: x if x > y else y, df["Age"])
print("Max Age:", max_age)

Total Salary: 325000
Max Age: 40

### lambda Functions with DataFrame

In [44]:
# Apply lambda to create a new column: Salary after 10% bonus
df["Bonus_Salary"] = df["Salary"].apply(lambda x: x * 1.10)

# Categorize age group
df["Age_Group"] = df["Age"].apply(lambda x: "Young" if x < 30 else "Senior")
print(df)

      Name  Age  Salary  Age_plus5 Name_upper  Bonus_Salary Age_Group
0    Alice   25   50000         30      ALICE       55000.0     Young
1      Bob   30   60000         35        BOB       66000.0    Senior
2  Charlie   35   70000         40    CHARLIE       77000.0    Senior
3    David   40   80000         45      DAVID       88000.0    Senior
4      Eva   28   65000         33        EVA       71500.0     Young